@font-face {
  font-family: 'dk_sticky_toffeeregular';
  src: url('fonts/dk_sticky_toffee-webfont.woff2') format('woff2'),
       url('fonts/dk_sticky_toffee-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  background-color: #fbf259;
  font-size: 18px;
  min-height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  text-decoration: none;
}

h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
}

#body-wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content-wrapper {
  display: flex;
  width: 85%;
  height: 88%;
  left: 15%;
  margin-top: 5%;
  position: absolute;
  padding: 15px;
}

.sub-content-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 5%;
  padding: 3%;
  background-color: #fcf472;
}

#site-greeting {
  font-size: 40px;
  align-self: center;
}

/* NAVBAR STYLING */

#nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 10%;
  left: 15%;
  position: absolute;
  justify-content: flex-end;
  padding: 15px;
  z-index: 10;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  height: 15%;
  align-items: row;
  justify-content: flex-end;
}
.nav-item {
  flex-grow: 1;
  width: 20%;
  text-align: right;
  font-family: 'dk_sticky_toffeeregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 23px;
}

.nav-item a{
  color: #3b4057;
}

.placehoder {
  flex-grow: 2;
}

/* END NAVBAR */

/* START SIDEBAR STYLING */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 15%;
  top: 0;
  height: 93%;
  margin-left: -250px;
  background: #3b4057;
}

#sidebar-wrapper .list-group-item {
  background-color: #3b4057;
  border: 0;
  font-family: 'dk_sticky_toffeeregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 23px;
}

#sidebar-wrapper .list-group-item a {
  color: #fbf259;
}

#sidebar-wrapper .list-group {

}

#sidebar-header {
  width: 100px;
  left: 25px;
  top: 10px;

}


.logo-img {
  width: 100%;
  height: 20%;
}

.container-logo {
  margin: 10%;
  margin-bottom: 30%;
}

/* END SIDEBAR */

/* ***HOMEPAGE STYLING*** */

#home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}

.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 10%;
  margin-bottom: 4px;
}

.title-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 700px;
  justify-content: space-around;
}

.bottom-img-container {
  flex-grow: 1;
  align-items: center;
  align-self: flex-end;
}

.title-logo-img {
  flex-grow: 1;
  width:80%;
  height: 25%;
  margin-bottom: 5%;
}

.subtitle-text {
  flex-grow: 2;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.search-bar-container {
  flex-grow: 1;
  margin: 5%;
}

.form-inline {
  border: none;
}

.home-bg-img {
  width: 100%;
  height: 57%;
}

/* END HOMEPAGE */

/* ALL PRODUCTS STYLING STARTS HERE */
#products-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 5%;
}

.col-xs-4 {
  padding: 3%;
}
/* END ALL PRODUCTS */

/* SINGLE PRODUCT STYLING STARTS HERE */
#single-product-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 5%;
}

/* END SINGLE PRODUCT*/

/* CART STYLING STARTS HERE*/

/* END CART */

/* CHECKOUT STYLING STARTS HERE */
#checkout-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 5%;
}

#checkout-wrapper h3 {
  flex-grow: 1;
  font-family: 'dk_sticky_toffeeregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 26px;
  justify-content: space-around;
}

.checkout-table-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}



.user-form-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.shipping-form-container {
  display: flex;
  flex-grow: 1;
}

.payment-container {
  display: flex;
  flex-grow: 1;
  margin-top: 5%;
}

.checkout-table {
  flex-grow: 1;
}



/* END CHECKOUT */

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 7%;
  background-color: #73dc7b;
}


.footer-block {
  margin: 20px 0;
}
.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

form {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #e6ebf1;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}
